%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet
{erl_opts, [
	{platform_define, "(?=^[0-9]+)(?!^17$)", time_correction},
	debug_info,
	warnings_as_errors
]}.
{deps, [
	{cowlib, ".*", {git, "git://github.com/ninenines/cowlib.git", {branch, "master"}}},
	{dlhttpc, ".*", {git, "git://github.com/ferd/dlhttpc.git", {branch, "master"}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}}
]}.
